@font-face {
    font-family: 'open_sansregular';
    src: url(fonts/'OpenSans-Regular-webfont.eot');
    src: url(fonts/'OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url(fonts/'OpenSans-Regular-webfont.woff2') format('woff2'),
         url(fonts/'OpenSans-Regular-webfont.woff') format('woff'),
         url(fonts/'OpenSans-Regular-webfont.ttf') format('truetype'),
         url(fonts/'OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
p, #bas{
    font-family:  'open_sansregular', Impact, "Arial";
    font-style: oblique;
}
.body {
    display: flex;
    flex-direction: row; 
}
header {
    display: flex;
    background-color: beige;    
    align-items: center;
}
#bande {
    height: 250px;  
    width: 100%; 
}
#cadrlogo {
    opacity: 0px;
}
#logo {
    height: 150px;
    opacity: 0.3;
    margin: 50px;   
}
.inheader:nth-child(1) {
    
}
.inheader:nth-child(2) {
    flex: 1;
}
#menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
    border: 10px ridge blue;
    border-radius: 20px;
    height: 40px;
    font-weight: bold;    
}
a {
    color: blue;
    margin: 10px;
}
.menu :hover {    
    border: 3px dashed red;
    color: red;
    padding: 4px 20px 2px 40px;
    background-color: aqua;
    border-radius: 10px; 
    margin: 4px 5px 4px 5px;
}
.menuNfp:visited {
    color: dodgerblue;
}
#images {
    display: flex;
    justify-content: space-between;
}
#pple {
    display: flex;  
    flex-direction: row; 
    justify-content: space-around;    
}
#section {
    display: flex;
    flex-direction: column;    
    min-width: 25%;    
}
.section {   
    border: 3px solid blue;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 10px 5px 10px 5px;
    margin: 40px 5px 10px 5px;
    background-color: aqua;
}
.section h3 {
    text-align: center;
    font-weight: bolder;
}
.article {    
    padding: 10px 5px 10px 5px;
    margin: 10px 5px 10px 5px;
}
#paragr p {
    text-align: justify;
    padding: 10px;
}
h2 {
    text-shadow: -4px 3px 1px grey;
    text-align: center;
}
h2:hover {
    text-shadow: 4px -3px 1px green;
}
#flottante {
    float: left;
    margin: 20px;
}
.otherP {
    clear: left;
}
iframe {
    width:auto;
    height:250px;
    justify-content: center;
}

@media all and (max-width: 1024px) {
    #menu {
        flex-direction: column;
        height: auto;
        text-align: center;
    }
    #pple { 
    flex-direction: column;
    }
    .inheader {
        visibility: hidden;
    }
    #images {
        overflow: hidden;
    }
    iframe {
    width:auto;
    }
    .image {
        height: 150px;
        width: 150px;
    }

}