/*div  {
    border: 1px green solid;
}
.body {
    display: flex;
    flex-direction: row;   
}*/
header {
    display: flex;
    /*border: 2px red solid; */
    background-color: beige;
    justify-content: space-between;
    justify-content: space-around;
    align-items: center;
}
#bande {
    height: 250px;
    width: 900px;   
}
#logo {
    height: 150px;
    opacity: 0.3;
}
#menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
    border: 10px ridge blue;
    border-radius: 20px;
    height: 40px;
    font-weight: bold;    
}
a {
    color: blue;
    margin: 10px;
}
.menu :hover {    
    border: 3px dashed red;
    color: red;
    padding: 4px 20px 2px 40px;
    background-color: aqua;
    border-radius: 10px; 
    margin: 4px 5px 4px 5px;
}
.menuNfp:visited {
    color: dodgerblue;
}
#images {
    display: flex;
    justify-content: space-between;
}
#pple {
    display: flex;  
    flex-direction: row; 
    justify-content: space-around;    
}
#section {
    display: flex;
    flex-direction: column;    
    min-width: 25%;    
}
.section {   
    border: 3px solid blue;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 10px 5px 10px 5px;
    margin: 40px 5px 10px 5px;
    background-color: aqua;
}
.section h3 {
    text-align: center;
    font-weight: bolder;
}
.article {    
    padding: 10px 5px 10px 5px;
    margin: 10px 5px 10px 5px;
}
#paragr p {
    text-align: justify;
    padding: 10px;
}
h1 {
    text-shadow: -4px 3px 1px #5f5a5a;
}