div  {
    border: 3px green solid;
}
.body {
    display: flex;
    flex-direction: row;   
}
header {
    display: flex;
    border: 3px red solid;    
}
#menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
}
#images {
    display: flex;
    justify-content: space-between
}
#pple {
    display: flex;  
    flex-direction: row; 
}